﻿@page
@using Domain.Entities.Enums
@model CreateGameModel
@{
    ViewData["Title"] = "CreateGame";
}

<h2>CreateGame</h2>

<form method="post">
    <div class="form-group">
        <div class="select-container">
            <label asp-for="GameType">Select game type:</label>
            <select asp-for="GameType" class="custom-select">
                <option value="@GameType.Single">Single</option>
                <option value="@GameType.TwoPlayers">Two Players</option>
            </select>
        </div>
        <div class="select-container">
            <label asp-for="Color">Select you pacman color</label>
            <select asp-for="Color" class="custom-select">
                <option value="@PacmanColor.Yellow">Yellow</option>
                <option value="@PacmanColor.Orange">Orange</option>
            </select>
        </div>
    </div>
    <input class="btn btn-default" type="submit" value="Create" />
</form>

