﻿@page
@using Domain.Entities.Enums
@model GameModel
@{
    <div class="points-block">
        <span id="points">Points: 0</span>
    </div>

    for (var i = 0; i < Model.Rows; i++)
    {
        <div class="map-row">
            @for (var j = 0; j < Model.Columns; j++)
            {
                switch (Model.Level[i, j])
                {
                    case FieldType.Empty:
                        <div id="@i-@j" class="empty-field"><div class="empty"></div></div>
                        break;
                    case FieldType.Point:
                        <div id="@i-@j" class="point-wrapper"><div id="point" class="point"></div></div>
                        break;
                    case FieldType.Wall:
                        <div id="@i-@j" class="wall"><div></div></div>
                        break;
                    default:
                        <div id="@i-@j" class="point-wrapper"><div class="point"></div></div>
                        break;
                }
            }
        </div>
    }
}

<!--Game over modal Modal-->
<div class="modal fade" id="gameOverModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Game over</h4>
            </div>
            <div class="modal-body">
                <p id="modal-score">You score is:</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!--Paused game modal-->
<div class="modal fade" id="pausedModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pause</h4>
            </div>
            <div class="modal-body">
                <p>Continue?</p>
            </div>
            <div class="modal-footer">
                <button id="modalContinueGameButton" type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
                <button id="modalGameOverButton" type="button" class="btn btn-default" data-dismiss="modal">Game over</button>
            </div>
        </div>

    </div>
</div>

<!--Win game modal-->
<div class="modal fade" id="winGameModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">You win!!!</h4><br />
                <h2 id="win-modal-score"></h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script src="js/signalr.min.js"></script>
<script src="~/js/realtimeService.js"></script>
<script src="js/game.js"></script>