﻿@page
@model HistoryModel
@{
    ViewData["Title"] = "History";
}

<h2>History</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nickname</th>
                <th>Score</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Scores.Count;i++ )
            {
            <tr>
                <td>@(i+1)</td>
                <td>@Model.Scores[i].UserNickName</td>
                <td>@Model.Scores[i].Points</td>
                <td>@Model.Scores[i].CreationDate.ToString(@"dd\/MM\/yyyy HH:mm")</td>
            </tr>
            }
        </tbody>
    </table>
</div>

