/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.points-block {
    margin: 20px 0;
}

.map-row {
    display: flex;
}

.empty-field {
    background-color: black;
    width: 20px;
    height: 20px;
}

.point-wrapper {
    background-color: black;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.point {
    background-color: white;
    width: 7px;
    height: 7px;
    border-radius: 16px;
}

.wall {
    background-color: black;
    width: 20px;
    height: 20px;
    border: 1px solid blue;
}

.pacman-wrapper {
    background-color: black;
}

.red-ghost-wrapper {
    background-color: black;
}

.green-ghost-wrapper {
    background-color: black;
}

.green-ghost {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 16px;
}

.red-ghost {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 16px;
}

.pacman {
    background-color: yellow;
    width: 20px;
    height: 20px;
    border-radius: 16px;
    border: 1px solid;
}

.orange-pacman {
    background-color: orangered;
    width: 20px;
    height: 20px;
    border-radius: 16px;
    border: 1px solid;
}

.select-container {
    margin-top: 10px;
}

.custom-select {
    outline: none;
    border-radius: 16px
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
